

.button {
    background-color: #222;
    color: #fff;
    padding: .7em 1.2em;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    box-shadow: 1px 1px 3px #222 ;
}

.button:hover{
    color: #ffbb33;
}
